.flex{
    display: flex;
}

.border{
    /* border: 2px solid red; */
    margin: 16px;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-gray{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}







/* Apply dark styles to the scrollbar for WebKit browsers */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #333; /* Color of the scrollbar thumb */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #222; /* Color of the scrollbar track */
  }
  
  /* Hide the scrollbar when not in use for other browsers */
  body {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent; /* Thumb and track colors when scrollbar is not in use */
  }
  
  body:hover {
    scrollbar-color: #333 #222; /* Thumb and track colors on hover */
  }
  
  /* Hide the scrollbar for other browsers */
  body {
    overflow: -moz-scrollbars-none;
  }
  
  body:hover {
    overflow: auto;
  }
  